html{

    padding: 0;
    margin:0;

}
body{
    background-image: url('img/main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
p::first-letter{
    font-weight: bold;
    font-size: 50px;
}
p{
    font-family: 'Playfair Display', serif;
    line-height: 30px;
    padding: 20px;
    color: white;

}
td{
    color: white;
}
h2{
    color: whitesmoke;
}

.animated{
opacity: 0;
}

.header {
    color: white;
    text-transform: none;
}
.wrap{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
.wrap-slide{
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin: 0 auto; /* align center*/
    
}
.slide-control{
    display: block;
    height: 50px;
    width: 30px;
    color: grey;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    line-height: 45px;

    transition: opacity 0.15s;
}

.slide-control:hover{
    opacity: 1;
}

.slide-control-prev{
    position: absolute;
    top: 300px;
    background-color: honeydew;
    left: 20px;

}
.slide-control-next{
    position: absolute;
    top: 300px;
    right: 10px;
    background-color: honeydew;

    
}
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 9999999px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.slide li{
    float: left;
    width: 800px;
    height: 600px;
}

.tab-content{

    border-radius: 30px;
    margin: 20px;
    padding: 20px;
}



#background{
    padding: 20px;
    margin: 10px;

    font-family:'Playfair Display';
    color: white;
    border-radius: 30px;
}
.scale img{
    transition: transform 0.5s; 
}
.scale img:hover{
    transform: scale(1.1);
}
.blank{
    padding: 500px;
}
.socialize{
    display: none;
    position: fixed;
    right: 1px;
    top: 100px;
    opacity: 0.6;
    text-align: end;
    width: auto;
}
.socialize:hover{
    opacity: 1;
}
.fa-arrow-circle-up{
    font-size: 40px;
    background-color: transparent;
    color: white;

}

.back-to-top {
    display:none;
    right: 20px;
    bottom: 100px;
    position: fixed;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
.back-to-top:hover{
    opacity:1;
}
a img{
    transition: transform 0.1s;
}
a img:hover{
    transform: scale(1.1);
}
a .mail{
    text-decoration: none;
    color: black;

}
.image{
    margin: 0 auto;
}
.image img{

    border-radius: 70px;
    transition: transform 0.5s;
}
.image img:hover{
    transform: scale(1.1);
}
.last-pic img{
    align-items: center;
}
/*****------------------------------------*/

@keyframes fade-in-right{
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes grow-left{
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}



.agent-1, .agent-3{
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
    color: black;

  }
  
  .agent-2 {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    animation-delay: 0.4s;
  }
  
  .agent-3 {
    animation-delay: 0.8s;
  }

  


 .title{
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
    background-image: 
    linear-gradient(
        to right,
        black,#302421
    );

 }
  
